@model Project_Redmil_MVC.Models.ResponseModel.DMT2ResponseModel.GetSenderDetailsResponseModel

@{
    ViewData["Title"] = "DMT 2.0 - Direct Money Transfer DashBoard";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/rechargejs/recharge.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<srcipt src="jquery.redirect.js"></srcipt>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/navbarheader.css">
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/businessReport.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
<script src="/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/jQueryTable.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/rowreorder/1.3.2/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.3.2/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<style>
    .confirm_dash
    {
     background-color: rgb(136, 8, 8);
    width: 33%;
    height: 36px;
    color: white;
    font-size: 20px;
    }
</style>
<br />
<div class="container-fluid" style="background:#ebebeb">
    <div class="first-header">
        <div class="section background-image heading_page">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul>
                            <li><strong class="heading_page_2">DMT 2.0 Dashboard</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container" style="background-color:white;border: 2px solid ;padding: 10px;border-radius: 25px;">
        <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;color: cornflowerblue;">
            <h3 class="heading_page_2"><b>Domestic Money Transfer</b></h3>
        </div>
        <hr>
        <br />
        <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
            <p class="aval_bal" style="margin-top:28px;"><h3 class="heading_page_2" style="color:skyblue"><b>₹&nbsp;  @ViewBag.balance</b></h3> <img src="~/css/Img_DMT2/ImgLogo.jpeg" class="img-width" style="height:100px;width:120px;"></p>
        </div>
        <hr>
        <div class="col-md-12 col-lg-12 col-sm-12" style="text-align:center;">
            <p class="aval_bal"><b>REDMIL Cash Wallet</b></p>
        </div>
        <br />
        <br />
    </div>
    <br />
    <br />
    <div class="row" style="background-color:white;border: 2px solid ;padding: 10px;border-radius: 25px;">
        <div class="col-md-4 col-lg-4 col-sm-4" style="text-align:center;">
            <img src="~/css/Img_DMT2/ImgUser.jpeg" class="img-width" style="height:100px;width:120px;">
            <p>Name</p>
            <br />
            <label>@Model.data.FirstOrDefault().SenderName</label>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4" style="text-align:center;">
            <img src="~/css/Img_DMT2/ImgCalendar1.jpeg" class="img-width" style="height:100px;width:120px;">
            <p>Monthly Limit</p>
            <br />
            <b>₹</b><label>@Model.data.FirstOrDefault().MonthlyLimit</label>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4" style="text-align:center;">
            <img src="~/css/Img_DMT2/ImgCheck.jpeg" class="img-width" style="height:100px;width:120px;">
            <p>Available Limit</p>
            <br />
            <b>₹</b><label>@Model.data.FirstOrDefault().UsedLimit</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group-recharge" style="text-align: center;">
            <button type="button" id="btnAddBeneficiary" style="font-weight:900;" class="button-21" data-target="#modalAddBeneficiary" data-toggle="modal">Add Beneficiary</button>
        </div>
    </div>
    <!-- Modal for add beneficery-->
    <div class="modal fade" id="modalAddBeneficiary" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h4 class="modal-title" style="text-align:center;"><b>Beneficiery Details</b></h4>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            @*<div class="form-group-recharge" style="margin-left: -65px">
                            <input id="txtAccountHoldName" autocomplete="off" type="tel" required="required" class="txt-input txt-input-text" placeholder="Enter Account Holder Name" />
                            <br />
                            <h5><span id="errtxtAccountHoldName" style="color:red" class="errorMsg"></span></h5>
                            </div>*@

                            <div class="form-group-recharge" style="margin-left:-20px;">
                                <input id="txtAccountHoldName" autocomplete="off" type="tel" required="required" class="txt-input txt-input-text" placeholder="Enter Account Holder Name" />
                                <br />
                                <h5><span id="errtxtAccountHoldName" style="color:red" class="errorMsg"></span></h5>
                            </div>


                            <div class="form-group-recharge" style="margin-left: -20px">
                                <input id="txtAccountNum" autocomplete="off" maxlength="20" onkeypress="return ValidateAlphanumericsrAccount(event);" type="tel" required="required" class="txt-input txt-input-text" placeholder="Enter Account Number" />
                                <br />
                                <h5><span id="errtxtAccountNum" style="color:red" class="errorMsg"></span></h5>
                            </div>
                            <div class="form-group-recharge" style="margin-left: -20px">
                                <input id="txtIFSCCode" autocomplete="off" maxlength="15" type="tel" required="required" class="txt-input txt-input-text" placeholder="Enter IFSC Code" />
                                <br />
                                <h5><span id="errtxtIFSCCode" style="color:red" class="errorMsg"></span></h5>

                            </div>
                            <div class="form-group-recharge" style="margin-left: -20px">
                                <input id="txtBankName" autocomplete="off" maxlength="20" type="text" required="required" class="txt-input txt-input-text" placeholder="Enter Bank Name" />
                                <br />
                                <h5><span id="errtxtBankName" style="color:red" class="errorMsg"></span></h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnAddBeneficiery" class="button-27">Add Beneficiery</button>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Not Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                @* <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <button type="button" id="btnAddBeneficiery" class="button-21">Add Beneficiery</button>
                </div>
                </div>

                </div>*@
            </div>
        </div>
    </div>


    <!-- Modal After Succcessfuly Adding Beneficiery-->
    <input type="button" id="btnmodalSuccessAddBeneficiery" style="display:none" data-target="#modalSuccessAddBeneficiery" data-toggle="modal" />
    <div class="modal fade" id="modalSuccessAddBeneficiery" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h4 class="modal-title" style="text-align:center;"><b>Success</b></h4>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row div-recharge-img dmt-user-img">

                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4 custom_img_size pay-img ">
                            <img src="~/css/Img_DMT2/ImgAddBenefieciery.jpeg" class="img-width" style="height:100px;width:120px;">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <label class="heading_customer_phone" id="lblAddBeneficiery" style="text-align:center;">

                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <a href="/DMT2Dashboard/DMTDashboard" type="button" id="btnAddBeneficiery" class="button-27">Okay</a>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <buton><a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3" type="button">Okay</a></buton>
                </div>
                </div>

                </div>*@
            </div>
        </div>
    </div>

    <!-- Modal for Delete Beneficiery -->
    <input type="button" id="btnmodalDeleteBeneficiery" style="display:none" data-target="#modalDeleteBeneficiery" data-toggle="modal" />
    <div class="modal fade" id="modalDeleteBeneficiery" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="close">&times;</a>
                    <h4 class="modal-title" style="text-align:center;"><b>Delete Beneficiary</b></h4>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row div-recharge-img dmt-user-img">

                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4 custom_img_size pay-img">
                            <img src="~/css/Img_DMT2/ImgAddBenefieciery.jpeg" class="img-width" style="height:100px;width:120px;">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <h3>
                                <label class="heading_customer_phone" id="lblAddBeneficiery" style="text-align:center;">
                                    Are you sure, you want to delete beneficiary?
                                </label>
                            </h3>
                            <br />
                            <label style="text-align:center;" class="heading_customer_phone" id="lblAcName"></label>
                            <br />
                            <label style="text-align:center;" class="heading_customer_phone" id="lblAcNum"></label>
                            <br />
                            <label style="text-align:center;" class="heading_customer_phone" id="lblIFSC"></label>
                            <br />
                            <label style="text-align:center;" class="heading_customer_phone" id="lblBankName"></label>
                            <br />
                            <input type="hidden" id="hdfId" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <div class="col-sm-6 col-md-6">
                                <button type="button" onclick="deletePopUp()" id="btnDeletBeneficiary" class="button-27">Delete</button>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnCloseFirst" class="btn btn-danger" data-dismiss="modal">Not Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <button type="button" onclick="deletePopUp()" id="btnDeletBeneficiary" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Delete</button>
                </div>
                <div class="col-sm-4 final-cancel-button">
                <button type="button" style="margin-left:110px" id="btnCloseFirst" class="btn btn-danger butn-cancel" data-dismiss="modal">Not Now</button>
                </div>

                </div>
                </div>*@
            </div>
        </div>
    </div>

    <!-- Modal After Succcessfuly Delete Beneficiery-->
    <input type="button" id="btnmodalDeleteFinal" style="display:none" data-target="#modalDeleteFinal" data-toggle="modal" />
    <div class="modal fade" id="modalDeleteFinal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h4 class="modal-title" style="text-align:center;"><b>Success</b></h4>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row div-recharge-img dmt-user-img">

                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4 custom_img_size pay-img">
                            <img src="~/css/Img_DMT2/ImgAddBenefieciery.jpeg" class="img-width" style="height:100px;width:120px;">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <label class="heading_customer_phone" id="lblFinalMsg" style="text-align:center;">

                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <<a href="/DMT2Dashboard/DMTDashboard" type="button" onclick="deletePopUp()" id="btnDeletBeneficiary" class="button-27">Okay</a>
                        </div>
                    </div>
                </div>


                @* <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <buton><a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3" type="button">Okay</a></buton>
                </div>
                </div>

                </div>*@
            </div>
        </div>
    </div>

    <!-- Modal For Verify Account-->
    <input type="button" id="btnmodalBankVerifyCharges" style="display:none" data-target="#modalBankVerifyCharges" data-toggle="modal" />
    <div class="modal fade" id="modalBankVerifyCharges" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h3 class="modal-title" style="text-align:center;"><b>Bank Account Charges</b></h3>
                </div>
                <div class="modal-body" style="background-color:white;height:140px;">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <h3>
                                <label class="heading_customer_phone" id="lblBankAccountCharge" style="text-align:center;">

                                </label>
                                <label id="lblSenderID" style="display:none;"></label>
                            </h3>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnVerifyAccount" onclick="verifyAccount()" class="button-27">Verify</button>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnCloseBankChargePopup" class="btn btn-danger" data-dismiss="modal">Not Now</button>
                            </div>
                        </div>
                    </div>
                </div>


                @* <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <button type="button" id="btnVerifyAccount" onclick="verifyAccount()" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Verify</button>
                </div>
                <div class="col-sm-4 final-cancel-button">
                <button type="button" style="margin-left:110px" id="btnCloseBankChargePopup" class="btn btn-danger butn-cancel" data-dismiss="modal">Not Now</button>
                </div>

                </div>

                </div>*@
            </div>
        </div>
    </div>


    <!-- Modal After Successfull Verify Account-->
    <input type="button" id="btnmodalSuccessBankVerifyCharges" style="display:none" data-target="#modalSuccessBankVerifyCharges" data-toggle="modal" />
    <div class="modal fade" id="modalSuccessBankVerifyCharges" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h3 class="modal-title" style="text-align:center;"><b>Verification Status:<span style="color:green">Verified</span> </b></h3>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <h3>
                                Beneficiary Name :
                                <label id="lblBeneficiaryName" class="heading_customer_phone" style="text-align:center;">

                                </label>
                            </h3>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <a href="/DMT2Dashboard/DMTDashboard" type="button" id="btnDeletBeneficiary" class="button-27" style="margin-left: 41%;">Okay</a>
                        </div>
                    </div>
                </div>


                @*
                <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3" type="button">Okay</a>
                </div>
                </div>

                </div>*@
            </div>
        </div>
    </div>


    <!-- Modal After Error Verify Account-->
    <input type="button" id="btnmodalErrorBankVerifyCharges" style="display:none" data-target="#modalErrorBankVerifyCharges" data-toggle="modal" />
    <div class="modal fade" id="modalErrorBankVerifyCharges" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h3 class="modal-title" style="text-align:center;"><b>Verification Status: Not Verified</b></h3>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <label id="lblErrorName" class="heading_customer_phone" style="text-align:center;color:red;">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <a href="/DMT2Dashboard/DMTDashboard" type="button" class="button-27" style="margin-left: 41%;">Okay</a>
                        </div>
                    </div>
                </div>


                @* <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3" type="button">Okay</a>
                </div>
                </div>
                </div>*@
            </div>
        </div>
    </div>


<!-- Table for Recepient List-->
@*<div class="tabcontent" style="background-color:white;border: 2px solid ;padding: 10px;border-radius: 25px;margin-top:15px;">*@
<div style="background-color:white;border: 2px solid ;padding: 10px;border-radius: 25px;margin-top:15px;">
    <h3 style="text-align:center;" class="transRepoHead text-center">Recepient List</h3>
    <div style="overflow-x:auto;">
        <form>  
            <table id="example" class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>A/C Holder Name</th>
                        <th>A/C Number</th>
                        <th>IFSC Code</th>
                        <th>Bank Name</th>
                        <th>Verification Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowNo = 0;
                    }
                    @if (Model.additionalInfo != null)
                    {
                        @foreach (var item in Model.additionalInfo)
                        {
                            <tr>
                                <td>
                                    @(rowNo += 1)
                                </td>
                                <td>
                                    @item.BeneficiaryName
                                </td>
                                <td>
                                    @item.AccountNumber
                                </td>
                                <td>
                                    @item.IFSCCode
                                </td>
                                <td>
                                    @item.BankName
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    <input type="hidden" id="hdnBfId" value="@item.BenificiaryId">
                                    <button type="button" onclick="finalPay('@item.BenificiaryId')" id="btnPay" class="button-27" style="background-color:green;border-color: aliceblue;padding: 3px 16px;" @*data-target="#modalPay" data-toggle="modal"*@>Pay</button>
                                        <button type="button" id="btnVerify" onclick="bankchargePopup('@item.BenificiaryId')" class="button-27" style="background-color:  #2d385e;border-color: aliceblue;padding: 3px 16px;" @*data-target="#modalBankVerifyCharges" data-toggle="modal"*@>Verify</button>
                                    <button onclick="detailsPopup('@item.BenificiaryId')" type="button" id="btnDelete" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>

</div>

<!-- Modal for Transfer Money-->
<div class="popup-modal">
    <input type="button" id="btnmodalPay" style="display:none" data-target="#modalPay" data-toggle="modal" />
    <div class="modal fade" id="modalPay" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-recharge">
                    <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                    <h4 class="modal-title" style="text-align:center;"><b>Transfer Money</b></h4>
                </div>
                <div class="modal-body" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <label id="lblPayId" style="display:none;"></label>
                            <label style="text-align:center;">
                                Enter Amount ₹&nbsp;&nbsp;
                            </label>

                            <input id="txtTransferAmount" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input js-input-mobile txt-input-text" placeholder="Enter Transfer Amount" />
                            <br />
                            <span id="errTransferAmount" class="text-danger font-weight-bold"></span>
                            <br />
                            <br />
                            <label style="text-align:center;">
                                *Limit per transaction:- Minimum Rs.100 & Maximum Rs. 5,0000
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row wallet-select">
                        <div class="col-sm-4 custom_img_size" style="margin-left:50px;">
                            <label style="text-align:center;">
                                <span class="first-wallet">Fast</span>
                                <input type="radio" class="rdbMode" name="testMode" checked value="IMPS"><!--0 For True and 1 for False-->
                                <img src="~/css/Img_DMT2/IMPS Icon.jpg" alt="Option 1" class="img-wallet-select">
                                <label />
                            </label>
                        </div>
                        <div class="col-sm-1" style="border-left: 6px solid #2d385e;height: 200px;margin-top: 50px;margin-left: 37px;"></div>
                        <div class="col-sm-4 custom_img_size">
                            <label style="text-align:center;">
                                <span class="first-wallet">Slow</span>
                                <input type="radio" class="rdbMode" name="testMode" value="NEFT">
                                <img src="~/css/Img_DMT2/NEFT-Icon.png" alt="Option 2" class="img-wallet-select">
                                <label />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center;">

                            <h3><span id="walletMode" class="text-danger font-weight-bold"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="display: inline-flex;">
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnProceedNow" onclick="confirmPopup()" class="button-27">Proceed to Pay</button>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <button type="button" id="btnCloseBankChargePopup" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                <div class="col-sm-4 final-pay-button">
                <button type="button" id="btnProceedNow" onclick="confirmPopup()" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Proceed to Pay</button>
                </div>
                <div class="col-sm-4 final-cancel-button">
                <button type="button" style="margin-left:140px" id="btnCloseFirst" class="btn btn-danger butn-cancel" data-dismiss="modal">Cancel</button>
                </div>
                </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- Modal Popup For Confirm Payment -->
<input type="button" id="btnmodalPopuForConfirmPayment" style="display:none" data-target="#modalPopuForConfirmPayment" data-toggle="modal" />
<div class="modal fade" id="modalPopuForConfirmPayment" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-recharge">
                <a href="/DMT2Dashboard/DMTDashboard" class="close close_cross">&times;</a>
                <h4 class="modal-title" style="text-align:center;"><b>Payment Confirmation</b></h4>
            </div>
            <div class="modal-body" style="background-color:white;">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="text-align:center;"><b>Are you sure, you want to confirm transfer?</b></h3>
                        <label id="lblPayId2" style="display:none;"></label>
                        <hr>
                    </div>
                    <div class="col-sm-12" style="text-align:center">
                        <h4><label id="lblTransferMode"></label></h4>
                        <h4><label id="lblTransactionAmount"></label></h4>
                        <h4><label id="lblBankCharges"></label></h4>
                        <h4><label id="lblTotalDebitAmount"></label></h4>
                        <h4><label id="lblBeneficiaryName1"></label></h4>
                        <h4><label id="lblBeneficiaryAcc"></label></h4>
                        <h4><label id="lblBeneficiaryIFSCCode"></label></h4>
                        <h4><label id="lblBankName1"></label></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="display: inline-flex;margin-left: 41%;">
                        <button type="button" id="btnConfirmNowFinal" onclick="finalGoPay()" class="button-27">Confirm</button>
                    </div>
                </div>
            </div>
            @* <div class="modal-footer div-pay-row">
            <div class="row div-pay-row">
            <div class="col-sm-4 final-pay-button">
            <button type="button" id="btnConfirmNowFinal" onclick="finalGoPay()" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Confirm</button>
            </div>
            </div>

            </div>*@
        </div>
    </div>
</div>

<!-- Modal Confirm Payment -->
<input type="button" id="btnmodalfinalLast" style="display:none" data-target="#lastModalPay" data-toggle="modal" />
<div class="modal fade" id="lastModalPay" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-recharge">
                <a href="/DMT2Dashboard/DMTDashboard" style="padding-top:12px;" class="close">&times;</a>
                <h4 class="modal-title" style="text-align:center;"><b>Choose Payment Type</b></h4>
            </div>
            <div class="modal-body" style="background-color:white;">
                <div class="row div-recharge-img">
                    <div class="col-sm-4 custom_img_size pay-img">
                        <img src="~/css/PaymentImages/Encrypted.png" class="img-width" style="height:100px;width:120px;">
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 custom_img_size pay-img2">
                        <img src="~/css/PaymentImages/Secure.png" class="img-width" style="height:100px;width:100px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                            <h3 style="text-align:center;"><b>@ViewBag.MallName</b>&nbsp;&nbsp;<b>BUSINESS MALL</b></h3>
                        <label id="lblPayId1" style="display:none;"></label>
                    </div>
                    <div class="col-sm-12" style="text-align:center">
                        <label style="text-align:center;">
                            Select option to pay
                        </label>
                            <label id="lblamountNewFinal" class="heading_customer_phone"></label>
                            <label id="result" class="heading_customer_phone" style="display:none" />
                    </div>
                </div>
                <div class="row wallet-select">
                    <div class="col-sm-6 custom_img_size">
                        <label style="text-align:center;">
                            <span class="first-wallet">Cash Wallet</span>
                            <input type="radio" class="rdbWallet" name="testWallet" value="True"><!--0 For True and 1 for False-->
                            <img src="~/css/PaymentImages/cash wallet.png" alt="Option 1" class="img-wallet-select">
                            <label>Available Balance is: ₹</label>
                            <label id="lblMainbal" />
                        </label>
                    </div>
                    <div class="col-sm-6 custom_img_size">
                        <label style="text-align:center;">
                            <span class="first-wallet">Advance Wallet</span>
                            <input type="radio" class="rdbWallet" name="testWallet" value="False">
                            <img src="~/css/PaymentImages/Advance Wallet.png" alt="Option 2" class="img-wallet-select">
                            <label>Available Balance is: ₹</label>
                            <label id="lblAdbal" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align:center;">
                        <h3><span id="wallet" class="text-danger font-weight-bold"></span></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="display: inline-flex;">
                        <div class="col-sm-6 col-md-6">
                            <button type="button" id="btnPayNowFinal" onclick="confirmPopup()" class="button-27" data-dismiss="modal">Pay</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a href="~/DMT2Dashboard/DMTDashboard" type="button" id="btnCloseBankChargePopup" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-footer div-pay-row">
            <div class="row div-pay-row">
            <div class="col-sm-4 final-pay-button">
            <button type="button" id="btnPayNowFinal" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3" data-dismiss="modal">Pay</button>
            </div>
            <div class="col-sm-4 final-cancel-button">
            <a href="~/DMT2Dashboard/DMTDashboard" button type="button" style="margin-left:140px" id="btnCloseFirst" class="btn btn-danger butn-cancel" data-dismiss="modal">Cancel</a>
            </div>
            </div>
            </div>*@
        </div>
    </div>
</div>

<!--Modal Success Message-->
<!-- Modal -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <input type="button" id="btnmyModalfinal" style="display:none;" data-target="#myModalfinal" data-toggle="modal" />
        <div id="myModalfinal" role="dialog" class="modal fade" style="margin-top:47px;" aria-modal="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-confirm" style="width: 986px;max-height:100%;overflow-y:scroll !important;">
                <div class="modal-content" style="height: 1050px;color:black;">
                    <div class="">
                        <div class="icon-box" style="top:4px;" id="icon">
                            <label id="img" />
                        </div>
                        <h4 id="heading" class="modal-title w-100" style="padding-top:59px"></h4>
                    </div>
                    <div class="modal-body" style="padding-top:32px">
                        <div class="main-table-recharge">
                            <br />
                            <hr />
                            <h4><label id="lblBillData" style="display:none;text-align:center;"></label></h4>
                            <table class="table table-bordered" id="tblData">
                                <tbody>
                                    <tr>
                                        <th scope="row">Request Date:</th>
                                        <td><label id="lblRRequestDate"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Request Time:</th>
                                        <td><label id="lblRRequestTime"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Request ID:</th>
                                        <td><label id="lblRRequestID"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Client Unique ID:</th>
                                        <td><label id="lblRClientUniqueID"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Sender Mobile Number:</th>
                                        <td><label id="lblRSenderMobileNumber"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Sender Name:</th>
                                        <td><label id="lblRSenderName"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Beneficiary Name:</th>
                                        <td><label id="lblRBeneficieryName"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Beneficiary IFSC Code:</th>
                                        <td><label id="lblRBeneficiaryIFSCCode"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Account Number:</th>
                                        <td><label id="lblRAccountNumber"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Transfer Mode:</th>
                                        <td><label id="lblRTransferMode"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Transfer Amount:</th>
                                        <td><label id="lblRTransferAmount"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Bank Charges:</th>
                                        <td><label id="lblRBankCharges"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Net Debit:</th>
                                        <td><label id="lblRNetDebit"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Status:</th>
                                        <td><label id="lblRStatus"></label></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Display Message:</th>
                                        <td><label id="lblRDisplayMessage"></label></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12" style="display: inline-flex;">
                                <div class="col-sm-6 col-md-6">
                                    <button type="button" id="btnShareReciept" onclick="confirmPopup()" class="button-27">Share Receipt With Customer</button>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <button type="button" id="btnPrintReciept" onclick="confirmPopup()" class="button-27">Print Receipt</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer div-pay-row">
                    <div class="row div-pay-row">
                    <div class="col-sm-4 final-pay-button">
                    <button type="button" id="btnShareReciept" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Share Receipt With Customer</button>
                    </div>
                    <div class="col-sm-4 final-cancel-button">
                    <button type="button" style="margin-left:140px" id="btnPrintReciept" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Print Receipt</button>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Modal for Error-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <input type="button" id="Error_modal_confirm" style="display:none" data-target="#Error_modal_confirms" data-toggle="modal">
        <div id="Error_modal_confirms" role="dialog" class="modal fade in" aria-modal="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content modal_error_content">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="padding-right: 14px; padding-right: 14px; font-size: 25px; font-weight: bolder;">×</span>
                    </button>
                    

                    <div class="">
                        <div class="icon-box" id="icons" style="margin-top: 40px; background-color: rgb(136, 8, 8);">
                            <label id="img"><i class="fa fa-times" aria-hidden="true"></i></label>

                        </div>
                        <h4 id="heding" class="modal-title w-100" style="padding-top:54px">failed</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="p-new text-center"><label id="lblMsg_Confirm"></label></h3>

                        <div class="modal-footer">
                            <button type="button" class="btn-final-Error theclos confirm_dash" data-dismiss="modal"><b>Ok</b></button>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnAddBeneficiery").click(function () {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Add Beneficiery');
        }, 2000);
        var accName = $("#txtAccountHoldName").val();
        var accountNum = $("#txtAccountNum").val();
        var IFSC = $("#txtIFSCCode").val();
        var Bank = $("#txtBankName").val();
        if (accName.length === 0) {
            document.getElementById("errtxtAccountHoldName").innerHTML = "Please Enter Account Holder Name";
        }
        else if (accountNum.length === 0) {
            document.getElementById("errtxtAccountNum").innerHTML = "Please Enter Account Number";
        }
        else if (IFSC.length === 0) {
            document.getElementById("errtxtIFSCCode").innerHTML = "Please Enter Account Number";
        }
        else if (Bank.length === 0) {
            document.getElementById("errtxtBankName").innerHTML = "Please Enter Bank Name";
        }
        else {
            $.ajax({
                type: "POST",
                url: "/DMT2Dashboard/AddBeneficiary",
                data: { 'accName': accName, 'accountNum': accountNum, 'IFSC': IFSC, 'Bank': Bank },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    setTimeout(() => {
                        $(this).html('Add Beneficiery');
                    }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "TXN") {
                        $("#btnmodalSuccessAddBeneficiery").trigger("click");
                        $("#txtAccountHoldName").val("");
                        $("#txtAccountNum").val("");
                        $("#txtIFSCCode").val("");
                        $("#txtBankName").val("");
                        document.getElementById("lblAddBeneficiery").innerHTML = response.message;
                        $("#modalAddBeneficiary").hide();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });

    function detailsPopup(Id) {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Delete');
        }, 2000);
        var id = Id;
        $.ajax({
            url: "/DMT2Dashboard/GetDetailsById",
            data: { 'id': id },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                setTimeout(() => {
                    $(this).html('Delete');
                }, 2000);
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else {
                    document.getElementById("lblAcName").innerHTML = "A/C Holder Name:  " + response[0].beneficiaryName;
                    document.getElementById("lblAcNum").innerHTML = "Account Number:  " + response[0].accountNumber;
                    document.getElementById("lblIFSC").innerHTML = "IFSC Code:  " + response[0].ifscCode;
                    document.getElementById("lblBankName").innerHTML = "Bank Name:  " + response[0].bankName;
                    document.getElementById("hdfId").value = response[0].benificiaryId;
                    $("#btnmodalDeleteBeneficiery").trigger("click");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    function deletePopUp() {
        var id = $("#hdfId").val();
        $.ajax({
            type: "POST",
            url: "/DMT2Dashboard/DeleteBeneficiery",
            data: { 'id': id },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else {
                    document.getElementById("lblFinalMsg").innerHTML = response.message;
                    $("#btnmodalDeleteFinal").trigger("click");
                    $("#modalDeleteBeneficiery").hide();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function bankchargePopup(Id) {
        var id = Id;
        $.ajax({
            type: "POST",
            url: "/DMT2Dashboard/VerifyDetails",
            data: { 'id': id },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else {
                    document.getElementById("lblBankAccountCharge").innerHTML = response.message + " is ₹ " + response.data.totalDebitAmount;
                    document.getElementById("lblSenderID").innerHTML = id;
                    $("#btnmodalBankVerifyCharges").trigger("click");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function verifyAccount() {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Verify');
        }, 2000);
       
        var id = document.getElementById("lblSenderID").innerHTML;
        $.ajax({
            type: "POST",
            url: "/DMT2Dashboard/VerifyBeneficiaryAccount",
            data: { 'id': id },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                setTimeout(() => {
                    $(this).html('Verify');
                }, 2000);
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else if (response.statuscode == "ERR") {
                    document.getElementById("lblErrorName").innerHTML = response.message;
                    $("#btnmodalErrorBankVerifyCharges").trigger("click");
                    $("#modalBankVerifyCharges").hide();
                }
                else {
                    document.getElementById("lblBeneficiaryName").innerHTML = response.additionalInfo.beneName;
                    $("#btnmodalSuccessBankVerifyCharges").trigger("click");
                    $("#modalBankVerifyCharges").hide();
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    function finalPay(Id) {
        var id = Id;
        $("#btnmodalPay").trigger("click");
        document.getElementById("lblPayId").innerHTML = id;
        document.getElementById("lblPayId1").innerHTML = id;

    }

    function confirmPopup() {
        debugger;
         $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Proceed to Pay');
        }, 2000);
        
        var amount = $("#txtTransferAmount").val();
        var mode = $('.rdbMode:checked').val();
        var id = document.getElementById("lblPayId").innerHTML;
        var ele = document.getElementsByName('testMode');

        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("result").innerHTML
                    = ele[i].value;
        }
        if (mode != undefined && mode != '' && amount != undefined && amount != '') {

            $.ajax({
                type: "post",
                url: "/DMT2Dashboard/BankChargesDetails",
                data: { 'amount': amount, 'mode': mode },
                type: 'POST',
                datatype: 'json',
                success: function (response) {
                    debugger;
                    setTimeout(() => {
            $(this).html('Proceed to Pay');
        }, 2000);  
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if(response.statuscode=="ERR")
                    {
                       
                        $("#Error_modal_confirm").trigger("click");
                        $("#lblMsg_Confirm").text(response.message);
                         $("#modalPopuForConfirmPayment").hide();
                       
                    }
                    else {
                        document.getElementById("lblTransferMode").innerHTML = 'Transfer Mode : ' + mode;
                        document.getElementById("lblTransactionAmount").innerHTML = 'Transaction Amount ₹: ' + response.data.transferAmount;
                        document.getElementById("lblBankCharges").innerHTML = 'Bank Charges ₹: ' + response.data.bankCharges;
                        document.getElementById("lblTotalDebitAmount").innerHTML = 'Total Debit Amount ₹: ' + response.data.totalDebitAmount;
                    }

                },
                failure: function (response) {
                    alert(response.responsetext);
                },
                error: function (response) {
                    alert(response.responsetext);
                }
            });

            $.ajax({
                type: "post",
                url: "/DMT2Dashboard/GetDetailsById",
                data: { 'id': id },
                type: 'POST',
                datatype: 'json',
                success: function (response) {
                    debugger
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                     else if(response.statuscode=="ERR")
                    {
                       
                        $("#Error_modal_confirm").trigger("click");
                        $("#lblMsg_Confirm").text(response.message);
                         $("#modalPopuForConfirmPayment").hide();
                       
                    }
                    else {
                        document.getElementById("lblBeneficiaryName1").innerHTML = 'Beneficiary Name: ' + response[0].beneficiaryName;
                        document.getElementById("lblBeneficiaryAcc").innerHTML = 'Beneficiary A/C Number: ' + response[0].accountNumber;
                        document.getElementById("lblBeneficiaryIFSCCode").innerHTML = 'Beneficiary IFSC Code: ' + response[0].ifscCode;
                        document.getElementById("lblBankName1").innerHTML = 'Bank Name: ' + response[0].bankName;
                        $("#btnmodalPopuForConfirmPayment").trigger("click");
                        $("#modalPay").hide();
                    }

                },
                failure: function (response) {
                    alert(response.responsetext);
                },
                error: function (response) {
                    alert(response.responsetext);
                }
            });
        }
        else if (mode != undefined && mode != '') {
            document.getElementById('walletMode').innerHTML = "";
            document.getElementById('errTransferAmount').innerHTML = "Please Insert Some Amount";
            return false;

        }
        else if (amount != undefined && amount != '') {
            document.getElementById('errTransferAmount').innerHTML = "";
            document.getElementById('walletMode').innerHTML = "Please Select Atleast One Payment Mode";
            return false;

        }
        else {
            document.getElementById('walletMode').innerHTML = "Please Select Atleast One Payment Mode";
            document.getElementById('errTransferAmount').innerHTML = "Please Insert Some Amount";
            return false;

        }
    }




    function finalGoPay() {
        debugger;
         $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Confirm');
        }, 2000);
        
        var amount = $("#txtTransferAmount").val();
        $.ajax({
            type: "POST",
            url: "/DMT2Dashboard/GetBalance",
            data: {},
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                 setTimeout(() => {
            $(this).html('Confirm');
        }, 2000);
                document.getElementById("lblMainbal").innerHTML = response[0].mainBal;
                document.getElementById("lblAdbal").innerHTML = response[0].adBal;
                document.getElementById("lblamountNewFinal").innerHTML = '₹: ' + amount;
                $("#btnmodalfinalLast").trigger("click");
                $("#modalPopuForConfirmPayment").hide();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    $("#btnPayNowFinal").click(function () {
         $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Pay');
        }, 2000);
        var id = document.getElementById("lblPayId1").innerHTML
        var amount = $("#txtTransferAmount").val();
        var mode = $('.rdbMode:checked').val();
        var payment = $('.rdbWallet:checked').val();
        if (payment != undefined && payment != '') {
            $.ajax({
                type: "POST",
                url: "/DMT2Dashboard/FinalPayment",
                data: { 'id': id, 'amount': amount, 'mode': mode, 'payment': payment },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    setTimeout(() => {
            $(this).html('Pay');
        }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "TXN") {
                        document.getElementById("heading").innerHTML = "Transaction Success";
                        document.getElementById("img").innerHTML = '<i class="fa fa-check"></i>'
                        document.getElementById("icon").style.backgroundColor = '#82ce34';
                        document.getElementById("lblRRequestDate").innerHTML = response.data.requestDate;
                        document.getElementById("lblRRequestTime").innerHTML = response.data.requestTime;
                        document.getElementById("lblRRequestID").innerHTML = response.data.requestID;
                        document.getElementById("lblRClientUniqueID").innerHTML = response.data.clientUniqueID;
                        document.getElementById("lblRSenderMobileNumber").innerHTML = response.data.senderMobileNumber;
                        document.getElementById("lblRSenderName").innerHTML = response.data.senderName;
                        document.getElementById("lblRBeneficieryName").innerHTML = response.data.beneficiaryName;
                        document.getElementById("lblRBeneficiaryIFSCCode").innerHTML = response.data.beneficiaryIFSCCode;
                        document.getElementById("lblRAccountNumber").innerHTML = response.data.accountNumber;
                        document.getElementById("lblRTransferMode").innerHTML = response.data.transferMode;
                        document.getElementById("lblRTransferAmount").innerHTML = response.data.transferAmount;
                        document.getElementById("lblRBankCharges").innerHTML = response.data.bankCharges;
                        document.getElementById("lblRNetDebit").innerHTML = response.data.netDebit;
                        document.getElementById("lblRStatus").innerHTML = response.data.status;
                        document.getElementById("lblRDisplayMessage").innerHTML = response.data.displayMessage;
                        $("#btnmyModalfinal").trigger("click");
                        $("#lastModalPay").hide();

                    }
                    else if (response.statuscode == "ERR") {
                        document.getElementById("heading").innerHTML = "Transaction Failed";
                        document.getElementById("img").innerHTML = '<i class="fa fa-times"></i>'
                        document.getElementById("icon").style.backgroundColor = '#880808';
                        document.getElementById("lblRRequestDate").innerHTML = response.data.requestDate;
                        document.getElementById("lblRRequestTime").innerHTML = response.data.requestTime;
                        document.getElementById("lblRRequestID").innerHTML = response.data.requestID;
                        document.getElementById("lblRClientUniqueID").innerHTML = response.data.clientUniqueID;
                        document.getElementById("lblRSenderMobileNumber").innerHTML = response.data.senderMobileNumber;
                        document.getElementById("lblRSenderName").innerHTML = response.data.senderName;
                        document.getElementById("lblRBeneficieryName").innerHTML = response.data.beneficiaryName;
                        document.getElementById("lblRBeneficiaryIFSCCode").innerHTML = response.data.beneficiaryIFSCCode;
                        document.getElementById("lblRAccountNumber").innerHTML = response.data.accountNumber;
                        document.getElementById("lblRTransferMode").innerHTML = response.data.transferMode;
                        document.getElementById("lblRTransferAmount").innerHTML = response.data.transferAmount;
                        document.getElementById("lblRBankCharges").innerHTML = response.data.bankCharges;
                        document.getElementById("lblRNetDebit").innerHTML = response.data.netDebit;
                        document.getElementById("lblRStatus").innerHTML = response.data.status;
                        document.getElementById("lblRDisplayMessage").innerHTML = response.data.displayMessage;
                        $("#btnmyModalfinal").trigger("click");
                        $("#lastModalPay").hide();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        else {
            document.getElementById('wallet').innerHTML = "Please Select Atleast One Payment Method";
            return false;
        }
    });

</script>
<script>

    $(document).ready(function () {
        var table = $('#example').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });

    });
    function ValidateAlphanumericsrAccount(e) {
        var keyCode = e.keyCode || e.which;

        var Amount = document.getElementById("txtAccountNum");
        errtxtAccountNum.innerHTML = "";
        var regex = /^[0-9]+$/;
        var isValid = regex.test(String.fromCharCode(keyCode));
        if (!isValid) {

            errtxtAccountNum.innerHTML = "Only Numbers allowed.";
            $('#errtxtAccountNum').css('margin-left', '-109px');
            $('#errtxtAccountNum').css('color', 'red');

        }
        else {
            Text_rtgs.innerHTML = "";
        }
        return isValid;
    }
</script>